

<template>
  <div id="app">
    <h1>Hello Parcel from Vue 📦 🚀</h1>
    <div v-if="seen">Now you see me</div>
    <other />
  </div>
</template>

<script>
import Other from './Other.vue';

const App = {
    data: function() {
        return {
            name: 'app',
            seen: true,
        }
    },
    components: {
        Other
    }
}
export default App;
</script>
