

<template>
  <div class="other-container">
    <h2>Component: {{ name }}</h2>
    <v-selectize
      :plugins="plugins"
      :options="options"
      @search="text = $event"
      v-model="selected"
      :create-item=false
      multiple
      placeholder="Pick some people..."
      keyBy="email"
      label="name"
      keys="['name', 'email']"
    >
      <template slot="item" slot-scope="{item}">
        <a class="flex-container" :href="`${item.url}`">
          <div class="flex-item flex-item__img" :style="`background-image: url(${item.figure})`"></div>
          <div class="flex-item flex-item__data">
            <div>{{ item.name }}</div>
            <div>{{ item.email }}</div>
          </div>
        </a>
      </template>
      <template slot="option" slot-scope="{option}">
        <div class="flex-container">
          <div class="flex-item flex-item__img" :style="`background-image: url(${option.figure})`"></div>
          <div class="flex-item flex-item__data">
            <div>{{ option.name }}</div>
            <div>{{ option.email }}</div>
          </div>
        </div>
      </template>
    </v-selectize>
    <div>Current Value: 
      <pre class="code-container"><code>{{ selected }}</code></pre>
    </div>
  </div>
</template>

<script>
import VSelectize from "@isneezy/vue-selectize";
export default {
  data: function() {
    return {
      name: "Other",
      plugins: ['remove_button'],
      options: [
        {name: 'Brian Reavis', email: 'brian@thirdroute.com', figure: 'https://dummyimage.com/180x180/FFA07A/fff.png', url: 'https://dummyimage.com/80x80/FFA07A/fff.png'},
        {name: 'Nikola Tesla', email: 'nicola@tesla.com', figure: 'https://dummyimage.com/180x180/1E90FF/fff.png', url: 'https://dummyimage.com/80x80/1E90FF/fff.png'},
        {name: 'Annelise Supinger', email: 'TheHideousGamer@gmail.com', figure: 'https://dummyimage.com/180x180/F0FFF0/fff.png', url: 'https://dummyimage.com/80x80/F0FFF0/fff.png'},
        {name: 'Cordell Marquez', email: 'TheMaddeningGamer@gmail.com', figure: 'https://dummyimage.com/180x180/7CFC00/fff.png', url: 'https://dummyimage.com/80x80/7CFC00/fff.png'},
        {name: 'Michelle Beck', email: 'TheHideousGamer@gmail.com', figure: 'https://dummyimage.com/180x180/4682B4/fff.png', url: 'https://dummyimage.com/80x80/4682B4/fff.png'},
        {name: 'Ram Clive', email: 'TheFreezingGamer@gmail.com', figure: 'https://dummyimage.com/180x180/DC143C/fff.png', url: 'https://dummyimage.com/80x80/DC143C/fff.png'},
        {name: 'Clemmie Kerouac', email: 'TheObeseGamer@gmail.com', figure: 'https://dummyimage.com/180x180/D2B48C/fff.png', url: 'https://dummyimage.com/80x80/D2B48C/fff.png'},
        {name: 'Russ Thill', email: 'TheAmbitiousGamer@gmail.com', figure: 'https://dummyimage.com/180x180/D8BFD8/fff.png', url: 'https://dummyimage.com/80x80/D8BFD8/fff.png'},
        {name: 'Oriana De avignon', email: 'ThePoliticalGamer@gmail.com', figure: 'https://dummyimage.com/180x180/FFEFD5/fff.png', url: 'https://dummyimage.com/80x80/FFEFD5/fff.png'},
        {name: 'Herrick Yi', email: 'TheLovelyGamer@gmail.com', figure: 'https://dummyimage.com/180x180/FFE4E1/fff.png', url: 'https://dummyimage.com/80x80/FFE4E1/fff.png'},
      ],
      selected: ""
    };
  },
  methods: {
      maybeCreate () {
        return true;
      },
      createContact (email) {
        const contact = {email}
        this.options.push(contact)
        return contact
      }
    },
  components: {
    VSelectize
  }
};
</script>

<style>
.item {
  width: 100%;
}
</style>

<style scoped>
.other-container {
  padding: 10px;
  background: lightgray;
}
.flex-container {
  width: 100%;
  display: flex;
  padding: 2px;
}
.flex-item {
  padding: 2px;
}
.flex-item__img {
  flex-grow: 0;
  width: 80px;
  height: 80px;
  background-position: center center;
  background-size: cover;
  background-color: lightgrey;
}
.flex-item__data {
  flex-grow: 1;
}
.code-container {
  background: #eeeeee;
  color: crimson;
}
</style>
